{% extends 'bootstrap/base.html' %}


{% block title %}
    Book Swap
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('post') }}">Post</a></li>
        <li><a href="{{ url_for('browse') }}">Browse</a></li>
        <li><a href="{{ url_for('post') }}">Post</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
    </ul>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
         <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}
        Welcome to Book Swap!
        This is where the content will go
    {% endblock %}

    </div>
{% endblock %}