{% extends "base.html" %}

{% block app_content %}
<h2>{{ user.username }}</h2>
<h><b>Postings</b></h>
{% for listing in user.listings %}
{% if listing.state == "active" %}
<p><a href="{{ url_for('book_listing', id = listing.id)}}">{{ listing.book.name }}</a></p>
{% endif %}
{% endfor %}
{% if current_user.username == user.username %}
<h><b>History</b></h>
{% for book in user.b_history %}
<p><a href="{{ url_for('book', isbn = book.isbn)}}">{{ book.name }}</a></p>
{% endfor %}
{% endif %}


{% endblock %}
